extends layout

block content
  h1= "MySQL and MongoDB Integration"
  p
  block meanStack
    h4= "On The MEAN STACK:"
      ul#imgs
        li#imgs
          img#mongo(src='mongodb.png', alt="MongoDB", style='width:196px;height:65px;')
        li#imgs
          img#node(src='nodejs.png', alt="Node.js", style='width:205px;height:60px;')
        li#imgs
          img#node(src='express.png', alt="Node.js", style='width:150x;height:50px;')
        li#imgs
          img#node(src='jade.svg', alt="Node.js", style='width:300x;height:118px;')
      
        

    // ul
    //   li
    //     a(href='/products') View Products
    //   li
    //     a(href='/newproduct') Add New product
    //   li
    //     a(href='/orders') View Orders
    //   li
    //     a(href='/neworder') Add New Order
    //   li
    //     a(href='/search') Search Orders and products
          
